input[type="checkbox"] {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    margin: 3px 8px 3px 4px 
}

input[type="checkbox"]:checked + label {
	text-decoration: line-through;
    text-decoration-color: #202020;
    text-decoration-thickness: 3px;
}

body {
    font-family: Arial, sans-serif;
    user-select: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    /* border: 1px solid #ddd; */
    margin-top: -1px; /* Prevent double borders */
    /* background-color: #f6f6f6; */
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    position: relative;
    overflow-wrap: break-word;
    margin-right: 30px;
}

ul li:hover {
    background-color: #181818;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 16px 16px;
    transform: translate(0%, -50%);
}
  
.close:hover {background: #101010;}

.subtask {
    padding-left: 4em;
}

#new-todo-entry {
    font-size: 18px;
    background-color: #202020;
    border-color: #A9A9A9;
    color: white;
    width: calc(100% - 40px);
    padding: 8px 16px;
    box-sizing: border-box;
    margin: 8px 8px;
    position: relative;
}

#new-todo-entry:focus {
    outline-color: #202020;
}

@media screen {
    body { background: 	#202020; color: white; }
}
